:root{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background-color: rgb(54, 189, 189);
}

.memory-game{
    height: 64rem;
    width: 64rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 100rem;
}

.card{
    height: calc(33.333% - 1rem);
    width: calc(25% - 1rem);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;  /*it won't let the element flat*/
    transition: transform 0.9s;
}

.card:active{
    transform: scale(0.97);
    transition: transform .3s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #fff;
    backface-visibility: hidden;
}

.card-front{
    transform: rotateY(180deg);
}

.card.flip{
    transform: rotateY(180deg);
}